* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Header Styles */
.header {
  background-color: #f7f7f7; 
  color: #4a6c8b; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header nav {
  display: flex;
  gap: 1.5rem;
}

.header nav a {
  color: #4a6c8b;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: #0077cc; 
}

/* Footer Styles */
.footer {
  background-color: #f7f7f7;
  padding: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Main Content Styles */
.main {
  flex: 1;
  padding: 2rem;
  background-color: #f7f7f7;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 2rem 1rem;
  border-radius: 8px;
}

/*Filter Sort Style*/
.filter-sort-container {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-bottom: 1.5rem;
  gap:2em;
}

.filter-sort-container .sort-options-container, .filter-options-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:0.5em;
}

.filter-sort-container select{
  background-color: #f1f1f1;
  color:rgba(51, 51, 51, 0.98);
  padding:0.2em;
  width: 10em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

/* Item Grid Style */
.item-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Item Card Style */
.item-card {
  background-color: #ffffff;
  border: 1px solid #cfcfcf; 
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.item-card img {
  max-width: 100%;
  height: 175px;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.item-card h3 {
  font-size: 1.1rem;
}

.item-card .category {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0.5em;
  color: #555;
}

.item-card p{
  font-weight: bold;
}

.item-card .item-card-btn {
  margin-top: 0.5rem;
  padding: 0 0.5em;
  gap: 0.5em;
  display: flex;
  justify-content: space-evenly;
}

.item-card button {
  padding: 0.6rem 1.2rem;
  width: 6rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #4a6c8b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.item-card button:hover {
  background-color: #6c8ebf;
}

/*Shopping cart style*/
.shopping-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #343333;
}

.shopping-cart-header {
  margin-bottom: 2rem;
  text-align: center;
}

.shopping-cart-header h1 {
  font-size: 2rem;
  color: #4a6c8b;
}

.shopping-cart-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.shopping-cart-table thead {
  background-color: #f7f7f7;
}

.shopping-cart-table thead th {
  padding: 1rem;
  font-size: 1rem;
  color: #4a6c8b;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #ddd;
}

.shopping-cart-table tbody tr {

  border-bottom: 1px solid #ddd;
}
.shopping-cart-table tbody td {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
}

.shopping-cart-item-image {
  height: 100px;
  max-width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.shopping-cart-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.5em;
  margin-top: 0.5em;
}

.shopping-cart-quantity button {
  font-size: 1rem;
  width: 1.5em;
  height: 1.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: #4a6c8b;
  color: #fff;
}

.shopping-cart-quantity button:hover {
  background-color: #6c8ebf;
}

.shopping-cart-remove {
  color: #d9534f;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
}

.shopping-cart-remove:hover {
  color: #c9302c;
}

.shopping-cart-summary {
  text-align: center;
  margin-top: 1rem;
}

.shopping-cart-summary h2 {
  font-size: 1.5rem;
}

.shopping-cart-clear {
  background-color: #d9534f;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.shopping-cart-clear:hover {
  background-color: #c9302c;
}


/* Phone Mode*/
@media (max-width: 768px) {
  .main{
    padding: 1em;
  }
  .item-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .item-card img {
      height: 150px; 
  }
  .header{
    padding: 1.25rem 2rem;
  }
  .header h1 {
      font-size: 1.5em;
  }
  .filter-sort-container {
    flex-direction: column;
    gap:1em;
  }
  .shopping-cart-container {
    padding: 0.5rem;
  }

  .shopping-cart-header h1 {
    font-size: 1.5rem;
  }

  .shopping-cart-table thead th,
  .shopping-cart-table tbody td {
    font-size: 0.9rem;
    padding: 0.25rem;
  }

  .shopping-cart-item-image {
    height: 100px;
  }

  .shopping-cart-summary h2 {
    font-size: 1.2rem;
  }

  .shopping-cart-clear {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}
